*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/test/build
/shared/model/build
/shared/domain/build
/shared/common/build
/android/androidApp/build